@charset "UTF-8";
/* Orni-styles */
/* Background Img Variables */
/* End Background Img Variables  */
/* Breakpoints */
/* End Breakpoints */
/* Colors & Borders */
/* End Colors & Borders */
/*  Img FX */
/* End Img FX */
/* Transforms & Transitions */
/* End Transforms & Transitions */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@font-face {
	font-family: 'The X-Files';
  src: url("https://ornifilesbirding.com/wp-content/themes/composer/fonts/The X-Files.ttf") format("truetype");
}

@font-face {
	font-family: 'x-files';
  src: url("https://ornifilesbirding.com/wp-content/themes/composer/fonts/x-files.ttf") format("truetype");
}

@font-face {
	font-family: 'Xfiles';
  src: url("https://ornifilesbirding.com/wp-content/themes/composer/fonts/Xfiles.ttf") format("truetype");
}

/* End Fonts */
body {
	color: #222630;
	font-family: "Young Serif", serif;
}

body header#header.site-header {
	padding: 0;
	position: fixed;
	background: rgba(189, 209, 215, 0.98);
	width: 100%;
	transition: ease all 0.25s;
	z-index: 99;
}

body header#header.site-header.hide-header {
	transform: translateY(-75px);
}

body header#header .site-title a {
	color: #333;
	font-family: "X-files";
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-left: 15px;
	position: relative;
	top: 7px;
	transition: ease all 0.5s;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body header#header .site-title a {
		font-size: 11px;
		letter-spacing: 1px;
		margin-right: 5px;
		top: -6px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body header#header .site-title a {
		font-size: 15px;
		margin-right: 10px;
		top: -5px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body header#header .site-title a {
		font-size: 20px;
		top: -4px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body header#header .site-title a {
		font-size: 22px;
		top: -3px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body header#header .site-title a {
		font-size: 24px;
		top: -3px;
	}
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
	body header#header .site-title a {
		font-size: 26px;
		top: 10px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body header#header .site-title a {
		font-size: 32px;
		top: 17px;
	}
}

@media only screen and (min-width: 1400px) {
	body header#header .site-title a {
		font-size: 36px;
		top: 12px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body header#header nav#navigation {
		margin-right: 10px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body header#header nav#navigation {
		margin-right: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body header#header nav#navigation {
		margin-right: 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body header#header nav#navigation {
		margin-right: 25px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body header#header nav#navigation {
		margin-right: 30px;
	}
}

@media only screen and (min-width: 1400px) {
	body header#header nav#navigation {
		margin-right: 35px;
	}
}

body header#header nav#navigation.nav-primary ul.menu {
	background: rgba(189, 209, 215, 0.98);
}

@media only screen and (max-height: 600px) and (max-width: 1023px) {
	body header#header nav#navigation.nav-primary ul.menu {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 118vh;
	}
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body header#header nav#navigation.nav-primary ul.menu {
		left: 0px;
		top: 34px;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body header#header nav#navigation.nav-primary ul.menu {
		left: 0px;
		top: 34px;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body header#header nav#navigation.nav-primary ul.menu {
		left: 0px;
		top: 34px;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body header#header nav#navigation.nav-primary ul.menu {
		left: 0px;
		top: 34px;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body header#header nav#navigation.nav-primary ul.menu {
		left: 0px;
		top: 34px;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 36px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}

	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 36px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 38px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}

	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 38px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 40px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}

	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 40px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 42px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}

	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		content: " ï¿½ ";
		color: #333;
		font-size: 40px;
		position: absolute;
		left: 90%;
		margin-top: 10px;
		transition: ease all 0.25s;
		z-index: 99;
	}
}

body header#header nav#navigation.nav-primary ul.menu li ul li {
	background-color: rgba(202, 225, 233, 0.98);
	width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body header#header nav#navigation.nav-primary ul.menu li ul li a {
		padding-left: 40px;
		width: 200px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body header#header nav#navigation.nav-primary ul.menu li ul li a {
		padding-left: 40px;
		width: 200px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body header#header nav#navigation.nav-primary ul.menu li ul li a {
		padding-left: 40px;
		width: 200px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body header#header nav#navigation.nav-primary ul.menu li ul li a {
		padding-left: 40px;
		width: 200px;
	}
}

body header#header nav#navigation.nav-primary ul.menu li ul li a:hover {
	width: 100% !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body header#header nav#navigation.nav-primary ul.menu li a {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1400px) {
	body header#header nav#navigation.nav-primary ul.menu li a {
		font-size: 20px;
	}
}

body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	content: " ï¿½ ";
	font-size: 33px;
	position: absolute;
	right: 64px;
	top: 26px;
	text-shadow: none;
	transition: ease all 0.25s;
	z-index: 99;
	text-shadow: none;
	transition: ease all 0.5s;
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
		right: 50px;
	}
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
		right: 50px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
		right: 56px;
	}
}

body header#header nav#navigation.nav-primary ul.menu li.current_page_item {
	box-shadow: #3f606a inset 0px 0px 26px -12px;
}

body .site-container .banner {
	background-image: url(https://ornifilesbirding.com/wp-content/themes/composer/images/header.jpg) !important;
	background-position: 20% -24.8333px;
	filter: sepia(40%) saturate(50%) brightness(100%) hue-rotate(80deg);
}

body .site-container div.wrap {
	max-width: 1620px;
}

body .site-container div.wrap main.content {
	width: 95%;
}

body .site-container h1.banner-title {
	font-family: "Xfiles";
	letter-spacing: 21px;
	font-size: 400% !important;
	text-shadow: 0 0 10px #000;
	outline: 1px #000;
	text-transform: uppercase;
}

body .site-container .omega-nav-menu {
	font-size: 0;
}

body .site-container .omega-nav-menu li {
	font-family: "X-files";
	padding: 0;
}

body .site-container .omega-nav-menu li.sfHover > a {
	background: rgba(199, 219, 235, 0.95);
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body .site-container .omega-nav-menu li.sfHover > a {
		background: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body .site-container .omega-nav-menu li.sfHover > a {
		background: none;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body .site-container .omega-nav-menu li.sfHover > a {
		background: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body .site-container .omega-nav-menu li.sfHover > a {
		background: none;
	}
}

body .site-container .omega-nav-menu li.sfHover > a::after {
	top: 30px !important;
	transform: rotate(270deg) !important;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body .site-container .omega-nav-menu li.sfHover {
		background: #d7e9ee;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body .site-container .omega-nav-menu li.sfHover {
		background: #d7e9ee;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body .site-container .omega-nav-menu li.sfHover {
		background: #d7e9ee;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body .site-container .omega-nav-menu li.sfHover {
		background: #d7e9ee;
	}
}

body .site-container .omega-nav-menu li a {
	padding: 22px 15px 20px 15px;
	text-shadow: 1px 1px 4px white;
	transition: ease all 0.5s;
	font-size: 13px;
}

body .site-container .omega-nav-menu li a::before {
	content: " ð“…ª ";
	color: black;
	position: absolute;
	right: 41%;
	top: -7px;
	text-shadow: none;
	opacity: 0;
	transition: ease all 0.25s;
	font-size: 22px;
}

@media only screen and (min-width: 0) and (max-width: 480px) {
	body .site-container .omega-nav-menu li a::before {
		right: 5%;
		top: 0px;
		font-size: 24px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
	body .site-container .omega-nav-menu li a::before {
		right: 6%;
		top: 1px;
		font-size: 26px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body .site-container .omega-nav-menu li a::before {
		right: 6%;
		top: -10px;
		font-size: 36px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body .site-container .omega-nav-menu li a::before {
		right: 6%;
		top: -10px;
		font-size: 38px;
	}
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
	body .site-container .omega-nav-menu li a::before {
		font-size: 24px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body .site-container .omega-nav-menu li a::before {
		font-size: 30px;
	}
}

@media only screen and (min-width: 1400px) {
	body .site-container .omega-nav-menu li a::before {
		font-size: 34px;
		top: -12px;
		right: 39%;
	}
}

body .site-container .omega-nav-menu li a:hover {
	background: rgba(211, 229, 235, 0.96);
	width: 100%;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	body .site-container .omega-nav-menu li a:hover {
		background: none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	body .site-container .omega-nav-menu li a:hover {
		background: none;
	}
}

body .site-container .omega-nav-menu li a:hover::before {
	opacity: 1;
}

body .site-container .omega-nav-menu li:hover > ul {
	margin-top: 0px;
	margin-left: 1px;
}

body .site-container .omega-nav-menu li ul.sub-menu {
	background: rgba(189, 209, 215, 0.98);
	padding: 0;
	margin-top: 0;
	margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body .site-container .omega-nav-menu li ul.sub-menu {
		width: 22%;
		max-width: 420px;
	}
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
	body .site-container .omega-nav-menu li ul.sub-menu {
		width: 22%;
		max-width: 420px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	body .site-container .omega-nav-menu li ul.sub-menu {
		width: 22%;
		max-width: 420px;
	}
}

@media only screen and (min-width: 1400px) {
	body .site-container .omega-nav-menu li ul.sub-menu {
		width: 22%;
		max-width: 420px;
	}
}

body header#header nav#navigation.nav-primary ul.menu li ul li:last-child,
body .site-container .omega-nav-menu li ul.sub-menu {
	border-bottom-right-radius: 15px;
}